/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   $Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   $Globals
   ========================================================================== */

html {
    background: #00384f url(../img/twit-city.png) bottom left repeat-x;
    height: 100%;
}

body {
    color: #f9f9f9;
    font: normal normal 100%/1.5 "Helvetica Neue", sans-serif;
}

.container {
    height: 50em;        /* 50em * 16px = 800px */
    margin: 0 auto;
    max-width: 50em;     /* 50em * 16px = 800px */
    padding: 1.5em 10em; /* 160px / 16px = 10em */
    position: relative;

    background: url(../img/twit-bird.png) 50% 50% no-repeat;
}


/* ==========================================================================
   $Logo Module
   ========================================================================== */

.logo {
    background: url(../img/twit-logo.png) top left no-repeat;
    width: 325px;
    background-size: 325px;
    height: 225px;
    text-indent: -999em;
}


/* ==========================================================================
   $Twit Module And Demo Styles
   ========================================================================== */

/*
 * Here are the classes
 * we use for customizing
 * beyond the demo styles

 * General Markup Styling
 ========================
 * #twit-container {}
 * #twitter_update_list {}
 * #twitter_feed {}
 *

 * Helper Module Classes
 ========================
 * .twit-loader {}
 * .twit {}
 * .twit-list {}
 * .twit-info {}
 * .twit [rel="author"] {}
 * .twit .link {}
 * .twit .avatar {}
 * .twit-status {}
 * .twit-meta {}
 * .twit-timestamp {}
 *
 */

/* $General Markup Styling For Demo. Feel free to customize.
 =========================================================== */

#twit-container {
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.18);
    min-height: 8em;     /* 128px / 16px = 8em */
    margin-left: 2em;  /* 56px / 16px = 3.5em */
    margin-top: -0.75em; /* 74px / 16px = 4.625em */
    padding: 0.125em;    /* 2px / 16px = 0.125em */
    position: absolute;
    width: 16em; /* 256px / 16px = 16em */

    background: #88b7d5;
    background: rgba(117, 176, 207, 0.5);

    font-family: Calibri, Arial;
}

#twit-container:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    pointer-events: none;
    width: 0;
}

#twit-container:before {
    border-left-color: #185b86;
    border-left-color: rgba(117, 176, 207, 0.5);
    border-width: 20px;
    margin-top: -20px;
    top: 50%;
}

#twitter_update_list {
    list-style-type: none;
    max-width: 40em; /* 40em * 16px = 640px */
    padding: 0 5%;

    font-size: .875em;
}

#twitter_feed {
    display: inline-block;
    margin-bottom: 1.5em;
}


/* $Helper Module Classes
 ======================== */

.twit-loader {
    box-shadow: inset 1px 1px 0px rgba(0,0,0,.5),
                inset -1px -1px 0px rgba(255,255,255,.4);
    border-radius: 4px;
    display: inline-block;
    padding: .25em;
    position: absolute;
    top: 40%;
    left: 45%;

    background: #10293b;
    background: rgba(10, 37, 51, 0.25);
}

.twit .link,
.twit-status a {
    color: #0f2d41;

    text-decoration: none;
}

.twit .link:hover,
.twit-status a:hover {
    color: #d0dbe3;

    text-decoration: underline;
}

.twit-list {
    list-style-type: none;
    padding: 0;
}

.twit .avatar {
    border: 2px solid white;
    border: 2px solid rgba(255,255,255,0.70);
}

.twit-meta {
    border-radius: 20px;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.46),
                      0   1px 0px rgba(255, 255, 255, 0.46);
    display: inline-block;
    padding: .175em;
    width: 100%;

    background: rgba(255, 255, 255, 0.25);
    color: #fb8d2a;
    color: #A04C00;
    color: #FFCEA1;
    color: #E6FFCB;

    text-indent: 8px;
}