/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Globals
   ========================================================================== */


body {
    /*background: url(../img/dark_mosaic.png) top left repeat;*/
    background: #224466;
    color: #f9f9f9;

    font: normal normal 100%/1.5 "Helvetica Neue", sans-serif;
}

.container {
    background: url(../img/twit-bg.png) 50% 0% no-repeat;
    max-width: 50em;
    height: 800px;
    margin: 1.5em auto;
    padding: 0 5%;
    position: relative;
}


/* ==========================================================================
   Title Module
   ========================================================================== */

.title-header {
    margin: 0 auto;
    width: 50em;
    position: absolute;
    bottom: 0px;
}

.title {
    width: 100%;
    height: 130px;

    background: url(../img/twit-logo.png)  200px 0 no-repeat;

    text-align: center;
    text-indent: -999em;
}

.tagline {
    color: #639ab6;

    font-size: .875em;
    text-align: center;
}


/* ==========================================================================
   Twit Module And Demo Styles
   ========================================================================== */

/*
 * Here are the blank classes
 * we use for customizing
 * beyond the demo styles

 * General Markup Styling
 ========================
 * #twit-container {}
 * #twitter_update_list {}
 * #twitter_feed {}
 *

 * Helper Module Classes
 ========================
 * .twit-loader {}
 * .twit {}
 * .twit .link {}
 * .twit-avatar {}
 * .twit-status {}
 * .twit-meta {}
 * .twit-timestamp {}
 *
 */

#twit-container {
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.18);
    min-height: 128px;
    margin-left: 56px;
    margin-top: 64px;
    padding: 2px;
    position: absolute;
    width: 256px;

    background: #88b7d5;
    background: rgba(117, 176, 207, 0.5);

    font-family: Calibri, Arial;
}

#twit-container:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    pointer-events: none;
    width: 0;
}

#twit-container:before {
    border-left-color: #185b86;
    border-left-color: rgba(117, 176, 207, 0.5);
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

#twitter_update_list {
    list-style-type: none;
    max-width: 40em;
    padding: 0 5%;

    font-size: .875em;
}

#twitter_feed {
    display: inline-block;
    margin-bottom: 1.5em;
}

.twit .link,
.twit-status a {
    color: #0f2d41;

    text-decoration: none;
}

.twit .link:hover,
.twit-status a:hover {
    color: #18608d;
}


/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    padding-top: 800px;

    color: #cdcfd1;

    text-align: center;
    font-size: 1.5em;
}

footer small {
    font-size: .5em;
}

footer p {
    margin: 0;
}